<div class="dialog-contents">
		<h1>Project creation</h1>
    <div class="row">
    	<div class="col-xs-12">
    	  <label for="">Projectname</label>
    		<input class="form-control" type="text" ng-model="name" />
    	</div>
    </div>
    <br>
    <div class="row">
    	<div class="col-xs-12">
    		<label for="">Path to the project</label>
    	</div>
    </div>
    <div class="row">
    	<div class="col-xs-6">
    		<input class="form-control" type="text" ng-model="directory" />
    	</div>
    	<div class="col-xs-6">
				<input id="directory" class="form-control hide" type="file" nwdirectory />
				<a href="#" ng-click="selectDir($event)" class="btn btn-primary">Select directory</a>
    	</div>
    </div>
    
    <br><br>
    <div class="row">
    	<div class="col-xs-6">
    		<input class="btn btn-primary" type="button" value="Create" ng-click="create()"/>
    	</div>
    	<div class="col-xs-6">
    		<input class="btn btn-secondary" type="button" value="Cancel" ng-click="cancel()"/>
    	</div>
    </div>    
</div>