<!DOCTYPE html>
<html>
<head>
	<title></title>
	<meta charset="utf-8" />
	<link rel="stylesheet" href="css/bootstrap.min.css">
	<link rel="stylesheet" href="css/style.css">
	<link rel="stylesheet" href="css/jquery-ui.min.css">
	<link rel="stylesheet" href="css/ngDialog.min.css">
	<link rel="stylesheet" href="css/ngDialog-theme-default.min.css">
	<script src="js/vendor/jquery.min.js"></script>
	<script src="js/vendor/jquery-ui.min.js"></script>
	<script src="js/vendor/bootstrap.min.js"></script>
	<script src="js/vendor/angular.min.js"></script>
	<script src="js/vendor/ngDialog.min.js"></script>
	<script src="js/app/main.js"></script>

	<script data-main="js/init.js" src="js/vendor/require.js"></script>
</head>
<body class="container">
	<div class="row" ng-controller="Navigation">
		<input type="file" class="hide" id="fileChooser" onchange="angular.element(this).scope().updateAndImport(this)" multiple accept=".jpeg,.png,.jpg">
		<ul class="nav nav-pills" role="tablist">
      <li role="presentation" class="dropdown">
        <a id="drop3" href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" role="button">
          Project
          <span class="caret"></span>
        </a>
        <ul id="menu1" class="dropdown-menu" role="menu" aria-labelledby="drop4">
          <li role="presentation"><a role="menuitem" ng-click="new_project($event)" tabindex="-1" href="#">New</a></li>
          <li role="presentation"><a role="menuitem" ng-click="open_project($event)" tabindex="-1" href="#">Open</a></li>
          <li role="presentation"><a role="menuitem" ng-click="save_project($event)" tabindex="-1" href="#">Save</a></li>
          <li role="presentation"><a role="menuitem" ng-click="close_project($event)" tabindex="-1" href="#">Close</a></li>
          <li role="presentation" ng-show="last!=null" class="divider"></li>
          <li role="presentation" ng-show="last!=null"><a role="menuitem" ng-click="open_last($event)" tabindex="-1" href="#">Open last {{last}}</a></li>
          <li role="presentation" ng-show="projectLoaded" class="divider"></li>
          <li role="presentation" ng-show="projectLoaded"><a role="menuitem" ng-click="import_to_library($event)" tabindex="-1" href="#">Import to library</a></li>
          <li role="presentation" class="divider"></li>
          <li role="presentation"><a role="menuitem" ng-click="exit($event)" tabindex="-1" href="#">Exit</a></li>
        </ul>
      </li>
      <li role="presentation" class="dropdown">
        <a id="drop3" href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" role="button">
          Export
          <span class="caret"></span>
        </a>
        <ul id="menu1" class="dropdown-menu" role="menu" aria-labelledby="drop4">
          <li role="presentation"><a role="menuitem" ng-click="export_to_script($event)" tabindex="-1" href="#">To Script</a></li>
        </ul>
      </li>
      <li role="presentation" class="dropdown">
        <a id="drop4" href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" role="button">
          Help
          <span class="caret"></span>
        </a>
        <ul id="menu2" class="dropdown-menu" role="menu" aria-labelledby="drop5">
          <li role="presentation"><a role="menuitem" ng-click="$root.openLinkInBrowser('http://rpgboss.forumatic.com/')" tabindex="-1" href="#">Community Forum</a></li>
          <li role="presentation"><a role="menuitem" ng-click="$root.openLinkInBrowser('http://assets.rpgboss.com/')" tabindex="-1" href="#">Asset Server</a></li>
          <li role="presentation" class="divider"></li>
          <li role="presentation"><a role="menuitem" ng-click="open_about($event)" tabindex="-1" href="#">About</a></li>
        </ul>
      </li>
    </ul>
	</div>
	<div class="row">
		<div class="col-xs-2">
			<div id="library" class="row" ng-controller="Library">
				<div ng-click="select($event, element)" ng-repeat="element in project.resources track by $index" class="libelement col-xs-3">
					<img src="{{element.data}}" alt="">
					<span>{{element.name}}</span>
				</div>
			</div>
		</div>
		<div class="col-xs-8" ng-controller="Screen">
			<div id="screen">
				<div resizeable on-resize="resize()" canvas-element ng-style="{'width':element.style.width + 'px', 'height':element.style.height + 'px'}" ng-repeat="element in project.canvasElements">
					<img events model="element" on-load="imageLoaded" ng-if="element.type==1" src="{{element.data}}" alt="">
					
				</div>
			</div>
		</div>
		<div class="col-xs-2" ng-controller="Properties">
			<div ng-include="template"></div>
		</div>
	</div>
</body>
</html>